{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="profile-info profile-forum-box">
    {% if user.userprofile.avatar %}
        <img src="{{ user.userprofile.avatar.url }}" alt="Avatar" class="profile" style="max-width: 300px;">
    {% else %}
        <img src="{% static 'img/default_avatar.jpg' %}" alt="Avatar" class="profile" style="max-width: 300px;">
    {% endif %}
    {{ user.userprofile.avatar.url }}
    <div class="profile-name-bio">
        <div class="sort box">
            <a>{{ user.username }} - </a>
            <a>{{ user.email }}</a>
        </div>
        <p class="box">{{ user.profile.bio }}</p>
    </div>
    <button><a href="{% url 'edit_profile' %}">Edit</a></button>
</div>
{% endblock %}