<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <title></title>
        <nav>
            <button class="section_button"><a href="{% url 'menu' %}">Головна</a></button>
            <button><a href="{% url 'basket_detail' %}">Кошик</a></button>
            <button><a href="{% url 'order_story' %}">Історія</a></button>
            
            {% if request.user.is_authenticated %}
                <button class="section_button"><a href="{% url 'profile' %}">Профіль</a></button>
                <button class="section_button"><a href="{% url 'logout' %}">Вийти</a></button>
            {% else %}
                <button class="section_button"><a href="{% url 'login' %}">Увійти</a></button>
                <button class="section_button"><a href="{% url 'register' %}">Зареєструватися</a></button>
            {% endif %}
        </nav>

        {% block header %}
        {% endblock %}
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>© 2023 My Website</p>
        <nav>
            <a href="#">Про нас</a>
            <a href="#">Контакти</a>
            <a href="#">Політика конфіденційності</a>
        </nav>
        {% block footer %}
        {% endblock %}
    </footer>
    <script></script>
</body>
</html>