<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <title></title>
        <nav>
            <a href="{% url 'menu' %}"><button class="section_button">Головна</button></a>
            <a href="{% url 'basket_detail' %}"><button>Кошик</button></a>
            <a href="{% url 'order_story' %}"><button>Історія</button></a>
            
        </nav>
        {% if request.user.is_authenticated %}
            <a href="{% url 'logout' %}"><button class="section_button">Вийти</button></a>
            <a href="{% url 'profile' %}"><button class="section_button">Профіль</button></a>
        {% else %}
            <a href="{% url 'login' %}"><button class="section_button">Увійти</button></a>
            <a href="{% url 'register' %}"><button class="section_button">Зареєструватися</button></a>
        {% endif %}

        {% block header %}
        {% endblock %}
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>© 2023 My Website</p>
        <nav>
            <a href="#">Про нас</a>
            <a href="#">Контакти</a>
            <a href="#">Політика конфіденційності</a>
        </nav>
        {% block footer %}
        {% endblock %}
    </footer>
    <script></script>
</body>
</html>