{% extends 'base.html' %}

{% block content %}
    <h1>{{ dish.name }}</h1>
    {% if dish.image %}
        <img src="{{ dish.image.url }}" alt="{{ dish.name }}" style="max-width:300px;">
    {% endif %}
    <p><strong>Опис:</strong> {{ dish.description }}</p>
    <p><strong>Інгредієнти:</strong> {{ dish.ingredients }}</p>
    <p><strong>Калорійність:</strong> {{ dish.calories }} ккал</p>
    <p><strong>Ціна:</strong> {{ dish.price }} грн</p>
    <a href="{% url 'dish_list' %}">Назад до</a>
{% endblock %}