{% extends 'base.html' %}

{% block content %}
    <h1>Страви в категорії: {{ category }}</h1>
    <ul style="margin-bottom: 20px;">
        {% for dish in dishes %}
            <li>
                <a href="{% url 'dish_details' dish.id %}">
                    <h3>{{ dish.name }}</h3>
                </a>
                <p>{{ dish.description }}</p>
                <p>Ціна: {{ dish.price }} грн</p>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'menu' %}"><button>Назад до меню</button></a>
    {% if not dishes %}
        <p>У цій категорії немає доступних страв.</p>
    {% endif %}
{% endblock %}
