{% extends 'base.html' %}

{% block content %}

    <h1>Меню ресторану</h1>

    <div class="category-links">
        <a href="{% url 'menu' %}">Усі страви</a>
        {% for category in categories %}
            <a href="{% url 'dish_list_by_category' category.0 %}">{{ category.1 }}</a>
        {% endfor %}
    </div>

    <ul>
        {% for dish in dishes %}
            <li>
                <a href="{% url 'dish_details' dish.pk %}">{{ dish.name }}</a> — {{ dish.price }} грн
            </li>
        {% empty %}
            <li>Страв поки немає.</li>
        {% endfor %}
    </ul>
    <button><a href="{% url 'popular_dishes' %}">Назад</a></button>
{% endblock %}
